{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<section class="sect__promo bg" style="background-image: url('img/backgrounds/promo-bg.png');">
				
				<div class="container">
					<div class="promo-block">
						<h1 class="title"><span>Chibbies</span> Character centered Metaverse</h1>
						<div class="promo-block__img">
							<img src="img/characters.png" alt="">

							<a href="#" class="btn btn-lg"><span>Play & Earn</span></a>
						</div>
					</div>
				</div>
				<!-- //container -->

				<div class="promo-stars"></div>
			</section>
			<!-- //sect promo -->

			<section class="sect__characters">
				<div class="container">
					<div class="characters__wrapper">
						<div class="characters">
							
							<h2 class="sect-title text-center">Characters are the<br> new Land</h2>

							<div class="sect-description text-center">
								<p>Why should a metaverse be based around land if the real world is centered around humans like us? In the character-centered metaverse Chibbies, players can create unique characters through breeding and then use their chibbies to interact with other players, play games and earn tokens.</p>
							</div>

							<div class="characters-slider__wrapper">
								<div class="characters-slider">
									<!-- Slider -->
									<div class="swiper-container js-characters-slider">
										<div class="swiper-wrapper">
											<div class="swiper-slide">
												{% include '../parts/components/character-card.html' %}
											</div>
											<!-- //slide -->
											<div class="swiper-slide">
												{% include '../parts/components/character-card.html' %}
											</div>
											<!-- //slide -->
											<div class="swiper-slide">
												{% include '../parts/components/character-card.html' %}
											</div>
											<!-- //slide -->
											<div class="swiper-slide">
												{% include '../parts/components/character-card.html' %}
											</div>
											<!-- //slide -->
											<div class="swiper-slide">
												{% include '../parts/components/character-card.html' %}
											</div>
											<!-- //slide -->
											<div class="swiper-slide">
												{% include '../parts/components/character-card.html' %}
											</div>
											<!-- //slide -->
											<div class="swiper-slide">
												{% include '../parts/components/character-card.html' %}
											</div>
											<!-- //slide -->
											<div class="swiper-slide">
												{% include '../parts/components/character-card.html' %}
											</div>
											<!-- //slide -->
											<div class="swiper-slide">
												{% include '../parts/components/character-card.html' %}
											</div>
											<!-- //slide -->
										</div>
									</div>
									<!-- //Slider -->

									<div class="slider-controls">
										<button class="btn btn-arrow js-characters-slider-btn-prev" type="button">
											<span>
												<svg viewBox="0 0 18 18"  xmlns="http://www.w3.org/2000/svg"><g ><path d="M1.06923e-05 8.6L17.2 17.2L11.7576 8.6L17.2 0L1.06923e-05 8.6Z"/></g></svg>
											</span>
										</button>

										<div class="slider-pagination js-characters-slider-pagination"></div>

										<button class="btn btn-arrow js-characters-slider-btn-next" type="button">
											<span>
												<svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><g ><path d="M17.2 8.6L0 0L5.44239 8.6L0 17.2L17.2 8.6Z" /></g></svg>
											</span>
										</button>
									</div>
								</div>
							</div>


							<div class="pins">
								<span class="pin"></span>
								<span class="pin"></span>
								<span class="pin"></span>
								<span class="pin"></span>
							</div>

						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //sect characters -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>