.footer
	background-color $footer-bg
	padding 50px 0 100px
	
	.nav
		text-align center
		margin-right 0
	
.socials
	white-space nowrap
	font-size 0
	height 28px
	li
		display inline-block
		margin-right 55px
		height 100%
		&:last-child
			margin-right 0
	a
		display inline-block
		width 28px
		height 100%
		svg
			svg()
		&:hover
			opacity .8