.footer
	background-color $footer-bg
	position relative
	z-index 3
	&-col__hidden
		display none
	
	.nav
		text-align center
		margin-right 0
		
	&-content
		padding 50px 0 74px
	
.socials
	white-space nowrap
	font-size 0
	height 28px
	li
		display inline-block
		margin-right 55px
		height 100%
		&:last-child
			margin-right 0
	a
		display inline-block
		width 28px
		height 100%
		svg
			svg()
		&:hover
			opacity .8
			

.subscribe
	padding 76px 0
	background-color $subscribe-bg 
	&-text
		color $basic-white-color
		font 14px $Med
		line-height 17px
		max-width 410px
	&-title
		font 20px $Bold
		margin-bottom 16px
		
	&-form
		width 100%
		max-width 650px
	
		
		.btn
			width 170px
			flex none
			font-size 20px