.nav
	margin-right 50px

	&__item
		display inline-block
		margin-right 46px
		&:last-child
			margin-right 0
	&__link
		display inline-block
		color $basic-white-color
		font-size 14px
		&:hover
			color $accent-color
			
	&-wrapper
		flex 1