.slider
	&__loader
		position absolute
		fullSize()
		z-index 10
		background-color $light-color
		transition all .15s ease-in-out
		&:before
			pseudo()
			width 30px
			height 30px
			position absolute
			position-center()
			background url('../img/slider-loader.gif') 50% 50% no-repeat / 30px 30px
			
		&.is-loaded
			opacity 0
			visibility hidden
			pointer-events none
			
.swiper-container
	*
		box-sizing border-box
		
.slider-controls
	display flex
	align-items center
	flex-wrap nowrap
	justify-content center
	margin-top 40px
	
.slider-pagination
	white-space nowrap
	margin-left 40px
	margin-right 40px
	*
		box-sizing border-box
	.slick-dots
		position relative
		bottom auto
		height 16px
		display flex !important
		flex-wrap nowrap
		align-items center
		li
			display inline-block
			margin 0 25px 0 0
			height 16px
			&:last-child
				margin-right 0
				
			&.slick-active
				button
					background-color $accent-color
				
		button
			width 16px
			height 16px
			border-radius 3px
			background-color $basic-white-color
			opacity 1
			margin 0
			&-active
				background-color $accent-color
			&:last-child
				margin-right 0
			&:before
				display none
	


.characters-slider
	
	.slick-track,
	.slick-list
		overflow visible
		
	.slick-slide
		width 330px
		padding-left 15px
		padding-right 15px

		&:nth-child(5n+1)
			.character-card__img
				background-color $purple-bg
		&:nth-child(5n+2)
			.character-card__img
				background-color $yellow-bg
		&:nth-child(5n+3)
			.character-card__img
				background-color $red-bg
		&:nth-child(5n+4)
			.character-card__img
				background-color $blue-bg
		&:nth-child(5n+5)
			.character-card__img
				background-color $green-bg
		
		
