<header class="header">
	<div class="container">
		<div class="row align-vertical-center align-horisontal-between header__row">
			<span class="logo">Chabbies</span>

			<div class="nav-wrapper">
				<div class="row align-horisontal-end align-vertical-center">
					<!-- NAV -->
					{% include '../components/nav.html' %}
					<!-- //NAV -->

					<a href="#" class="btn"><span>Whitepaper link</span></a>
					<a href="#" class="btn"><span>Play & Earn</span></a>
				</div>
			</div>
			
		</div>
	</div>

</header>
