//  Fonts 
$Bold = 'Montserrat-Bold', Arial, sans-serif
$SemiBold = 'Montserrat-SemiBold', Arial, sans-serif
// ========== ========== ========== ========== ==========

//Body customize
$body-font-family = $SemiBold
$body-font-size = 20px
$body-line-height = 24px

// Sizes
$container-width = 1200px
$container-gutters = 0 15px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 0 15px

$gutters = 90px 0
$gutter-top = 90px
$gutter-bottom = 90px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #F1B823
$text-color = #fff
$dark-text-color = #220633
$light-text-color = rgba(255, 255, 255, 0.51)

$active-color = #16A747
$inactive-color = #FFC531

$dark-color = #220633

$red-bg = #F05A75
$blue-bg = #BDDCEF
$green-bg = #CDEFBD
$yellow-bg = #FFD25E
$purple-bg = #9868FF

$basic-white-color = #fff
$basic-black-color = #000
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #48107F
$header-bg = #a2a2a2
$footer-bg = #a2a2a2

$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #000
$popup-overlay-opacity = .8
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========