.sect__promo
	min-height 810px
	position relative
	padding-top 110px
	padding-bottom 75px
	.comet
		display none
	&:after
		pseudo()
		position absolute
		bottom -5px
		width 100%
		z-index 1
		height 534px
		background radial-gradient(100% 100% at 50% 0%, rgba(227, 228, 255, 0) 53.12%, #E3E4FF 91.15%)
	
	.container
		position relative
		z-index 5
		

.promo-stars
	position absolute
	top 50%
	left 50%
	margin-top -363.5px
	margin-left -638px 
	z-index 1
	width 1276px
	height 727px
	background url('../img/decor/promo-stars.svg') 50% no-repeat / contain
	
.title
	font 44px $SemiBold
	text-align center
	color #FBFBFB
	span
		display block
		text-transform uppercase
		font 174px $Bold
		line-height 1
		

.promo-block
	&__img
		position relative
		max-width 930px
		margin -60px auto 0
		img
			display block
			
		.btn
			position absolute
			horisontal-center()
			bottom -15px
			z-index 2
			
// Characters
.sect__characters
	padding 55px 0 240px
	background url('../img/decor/characters-bg2.png') top 55px center no-repeat / contain
.characters
	position relative
	padding 60px 140px 50px
	z-index 3
	&-content
		max-width 560px
	&-img
		position absolute
		right 70px
		top -110px
		width 378px
		img
			display block
	&__wrapper
		position relative
		.comet-tale,
		.coin-9
			display none
	
	&:before
		pseudo()
		position absolute
		z-index -1
		border-radius 40px
		fullSize()
		background rgba(0,0,0, 0.3)
		background linear-gradient(148.97deg, rgba(255, 255, 255, 0.06) 3.83%, rgba(255, 255, 255, 0.006) 100.01%)
		
		box-shadow 0px 4px 124px rgba(0, 0, 0, 0.12), inset 1px 2px 0px rgba(255, 255, 255, 0.13), inset -1px -2px 0px rgba(0, 0, 0, 0.1)
		backdrop-filter blur(44px)

			
	.sect-description
		font-size 16px
		
	
.character-card
	position relative
	padding 15px
	box-shadow inset 1px 1px 0px rgba(255, 255, 255, 0.05), inset -1px -1px 0px rgba(0, 0, 0, 0.1)
	background rgba(255, 255, 255, 0.01)
	background linear-gradient(148.97deg, rgba(255, 255, 255, 0.06) 3.83%, rgba(255, 255, 255, 0.01) 100.01%)
	filter drop-shadow(0px 24px 64px rgba(0, 0, 0, 0.15))
	backdrop-filter blur(94px)
	border-radius 40px
	&__inner
		border-radius 34px
		background linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, rgba(255, 255, 255, 0.39) 100%)
		padding 3px
	&__img
		height 330px
		flex-col-center()
		border-radius 33px
		padding 40px 15px
		background-color $purple-bg
		backface-visibility hidden
		img
			@extends .content-img
		
	&.purple-bg
		.character-card__img
			background-color $purple-bg
	&.yellow-bg
		.character-card__img
			background-color $yellow-bg
	&.red-bg
		.character-card__img
			background-color $red-bg
	&.blue-bg
		.character-card__img
			background-color $blue-bg
	&.green-bg
		.character-card__img
			background-color $green-bg
			

.character-card
	z-index 5

.character-card-circles
	display block
	width 870px
	height 870px
	border-radius 50%
	position absolute
	position-center()
	background rgba(25, 30, 159, 0.018)
	background linear-gradient(142.53deg, rgba(37, 44, 241, 0.015) 11.8%, rgba(25, 30, 159, 0.018) 88.04%)
	box-shadow 0px 5px 64px rgba(0, 0, 0, 0.1), inset 1px -1px 1px rgba(0, 0, 0, 0.13), inset 1px 1px 1px rgba(255, 255, 255, 0.19)
	backdrop-filter blur(94px)
	z-index -1
	&:before
		pseudo()
		position absolute
		position-center()
		width 680px
		height 680px
		border-radius 50%
		background rgba(217, 26, 118, 0.134)
		background linear-gradient(142.53deg, rgba(51, 47, 255, 0.066) 11.8%, rgba(217, 26, 118, 0.134) 88.04%)
		box-shadow inset 1px -2px 1px rgba(0, 0, 0, 0.09), inset 1px 1px 1px rgba(255, 255, 255, 0.29)
		backdrop-filter blur(144px)
		z-index 2
		
	
.character-params
	width 350px
	display flex
	flex-wrap wrap
	justify-content flex-start
	margin 0 -5px -10px -5px
	position absolute
	z-index 3
	bottom 35px
	left 45px
	
.character-param
	display block
	width 50%
	padding-left 5px
	padding-right 5px
	margin-bottom 10px
	&__content
		display flex
		align-items center
		flex-wrap nowrap
		height 60px
		border-radius 12px
		padding 8.8px
		background rgba(255, 255, 255, 0.435)
		background linear-gradient(97.97deg, rgba(255, 255, 255, 0.435) 1.62%, rgba(255, 255, 255, 0.295) 100%)
		box-shadow inset 1px 1px 0px rgba(255, 255, 255, 0.14), inset -1px -1px 0px rgba(0, 0, 0, 0.07)
		backdrop-filter blur(17px)
	&__img
		flex none
		background-color $basic-white-color
		width 42px
		height 42px
		border-radius 5px
		box-shadow 0px 3px 5px rgba(0, 0, 0, 0.1)
		background-repeat no-repeat
		background-size 25px 25px
		background-position 50%
	&__value
		margin-left 15px
		color $basic-black-color
		font 18px $Bold
		line-height 1
		
.pin
	display inline-block
	width 80px
	height 80px
	background url('../img/decor/pin.svg') 50% no-repeat / contain
	position absolute
	z-index 1
	&:nth-child(1)
		top 30px
		left 30px
	&:nth-child(2)
		top 30px
		right 30px
	&:nth-child(3)
		bottom 30px
		left 30px
	&:nth-child(4)
		bottom 30px
		right 30px
		

// opportunities
.sect__opportunities
	margin-top -100px
	padding-bottom 175px
	position relative
	.comet-tale
		display none
	.sect-title
		max-width 555px
		margin-left auto
		margin-right 0
		margin-bottom 0

.opportunities
	padding-left 80px
	padding-right 80px
	margin-bottom -60px
			
.opportunity
	display flex
	flex-wrap nowrap
	align-items center
	justify-content space-between
	position relative
	flex-direction row-reverse
	margin-bottom 60px
	&:last-child
		
		flex-direction row
		.opportunity-text
			
			max-width calc(100% - 450px)
			display flex
			justify-content flex-end
			div
				max-width 445px
	&:nth-child(even)
		flex-direction row
		.opportunity-img
			margin-right 0
			margin-left 20px
			img
				transform translate(-50%, -50%) scaleX(-1)
			&__inner
				&:before
					transform translate(-50%, -50%) scaleX(-1)
				&:after
					transform translateY(-50% ) scaleX(-1)
					left auto
					right -80px
				
			.comet
				bottom auto
				top 0
				left -20px
	&-counter
		display inline-block
		position absolute
		top -18px
		right 0
		opacity .2
		font 94px $ExBold
		color transparent
		-webkit-text-stroke-width 2px
		text-stroke-width 2px
		-webkit-text-stroke-color #3340EB

		text-stroke-color #3340EB
	&-text
		width 100%
		max-width 475px
		position relative
		z-index 3
		h3
			font 25px $Bold
			color $basic-black-color
			margin-bottom 16px
		div
			position relative
			z-index 1
	&-img
		position relative
		flex none
		margin-right 20px
		.comet
			bottom 0
			left -20px
		&:after
			pseudo()
			position absolute
			position-center()
			z-index -3
			width 994px
			height 871px
			background url('../img/decor/shine.svg') no-repeat / contain
			pointer-events none
		
	
		&__inner
			width 454px
			height 454px
			position relative
			flex none
			border-radius 50%
			background rgba(255, 255, 255, 0.018)
			background linear-gradient(142.53deg, rgba(255, 255, 255, 0.015) 11.8%, rgba(255, 255, 255, 0.018) 88.04%)
			backdrop-filter blur(144px)
			box-shadow 0px 24px 64px rgba(0, 0, 0, 0.07), inset 1px -1px 1px rgba(0, 0, 0, 0.11), inset 1px 1px 1px rgba(255, 255, 255, 0.49)
			&:after
				pseudo()
				position absolute
				vertical-center()
				left -80px
				width 54px
				height 308px
				background url('../img/decor/scale.svg') 50% no-repeat / contain
				pointer-events none
			&:before
				pseudo()
				position absolute
				position-center()
				width 356px
				padding-top 75%
				border-radius 50%
				z-index 1
				background rgba(255, 255, 255, 0.06) 
				background linear-gradient(142.53deg, rgba(255, 255, 255, 0.05) 11.8%, rgba(255, 255, 255, 0.06) 88.04%)
				backdrop-filter blur(144px)
				box-shadow -1px 1px 1px rgba(0, 0, 0, 0.14), inset 1px 1px 1px rgba(255, 255, 255, 0.09)
				backdrop-filter blur(144px)
			img
				display block
				position absolute
				position-center()
				z-index 2
				width 330px
				height auto
			

// character 3d
.sect__character-3d
	padding-bottom 180px

	
.character-3d
	padding-left 110px
	padding-right 110px
	position relative
	z-index 1


	
	
	.character-card
		flex none
		width 330px
		top 312px
		background rgba(255, 255, 255, 0.14)
		box-shadow inset 1px 1px 0px rgba(255, 255, 255, 0.1), inset -1px -1px 0px rgba(0, 0, 0, 0.07)
		background linear-gradient(148.97deg, rgba(255, 255, 255, 0.14) 3.83%, rgba(255, 255, 255, 0.04) 100.01%)
		.comet-tale
			display none
		&__img
			height 430px
			padding 15px
			justify-content flex-start
		
	&__description
		flex 1
		padding-left 120px
		position relative
		z-index 5
		


.discord
	
	max-width 1000px
	margin 155px auto 0
	
	position relative
	z-index 3
	
	.comet
		display none
	
	.circles
		&-1
			left -104px
			bottom -104px
		&-2
			top -169px
			right -169px

		
	.btn
		width auto
		max-width none
		font-size 20px
		span
			padding 18px 24px
	&-ic
		display inline-block
		width 81px
		height 81px
		position relative
		background-color $basic-white-color
		border-radius 20px
		margin-bottom 24px
		svg
			svg()
			width 46px
			height 34px
			position absolute
			position-center()
			fill $discord-color 
			
	&-inner
		border-radius 40px
		border 6px solid #000DB6
		box-shadow 0px 14px 64px rgba(18, 35, 237, 0.4)
		background #2C3BFA
		background url('../img/backgrounds/discord-bg.svg') no-repeat top left, linear-gradient(99.99deg, #424EE4 1.11%, #2C3BFA 100%) 
		border-radius 34px
		padding 35px 140px 50px 0
		&:before
			pseudo()
		
	&-text
		width 330px
		flex none
		color $basic-white-color
		p
			font-size 20px
			margin-bottom 45px
			
	&-title
		font 33px $ExBold
		line-height 40px
		margin-bottom 22px
			
		
		
	&-img
	
		display flex
		margin-right 20px
		justify-content center
		img
			display block
			width 100%
			height auto
			object-fit cover
			max-width 305px
			

.card-block
	background-color $basic-white-color
	box-shadow 0px 24px 59px rgba(3, 0, 162, 0.14), inset 1px 1px 0px rgba(255, 255, 255, 0.14), inset -1px -1px 0px rgba(0, 0, 0, 0.07)
	border-radius 22px
	padding 55px 25px 30px 25px
	transition all .17s ease-in-out
	&__inner
		background-color $card-inner-bg
		border-radius 15px
		padding 18px 30px
		color $lighter-text-color
		font 16px $SemiBold
		transition all .17s ease-in-out
			
// roadmap
.sect__roadmap
	isolation auto
	position relative
	.sect-title
		margin-bottom 70px
		

	.container
		position relative
		z-index 2
		

.roadmap-step
	display flex
	margin-top -220px
	position relative
	z-index 2
	//pointer-events none
	margin-bottom 120px
	&.is-disabled
		.roadmap-step
			&__title,
			&__date
				color #CDD1F6
			&__status
				box-shadow none
				background-color #F0F1FC
				color #CDD1F6
			&__marker
				&:before
					border-color #CDD1F6
				&:after
					box-shadow none
					background-color #CDD1F6
				&-line
					span
						width 0
						
			&__progress
				span
					height 0
				
	&:last-child
		margin-bottom 0
		.roadmap-step__progress
			display none
	&:first-child
		margin-top 0
	&:nth-child(even)
		justify-content flex-end
		
		.roadmap-step
			&__content-wrapper
				padding-right 0
				padding-left 16px
				display flex
				justify-content flex-end
			&__progress
				right auto
				left 0
			&__heading
				justify-content flex-start
				flex-direction row-reverse
				
			&__title
				margin-right 0
				margin-left 30px
				
			&__marker-line
				left auto
				right 45px
				&:before
					left 0
					right auto
					
				span
					right auto
					left 0
		
	&__content
		width 100%
		max-width 490px
		padding 30px
		min-height 314px
		

		.card-block__inner
			min-height 114px
	
	&__title
		color #2F2F2F
		font 40px $Bold
		flex 1
		margin-right 20px
		
	&__heading
		display flex
		flex-wrap nowrap
		align-items center
		justify-content space-between
		margin-bottom 27px
		
	&__marker
		display block
		position relative
		flex none
		width 58px
		height 58px
		border-radius 50%
		background-color #F0F1FC 
		&-line
			display block
			position absolute
			vertical-center()
			left 45px
			width 140px
			height 4px
			background-color #CDD1F7
			overflow hidden
			span
				display block
				position absolute
				right 0
				height 100%
				width 100%
				transition width .17s ease-in-out
				background-color #3341EB
		&:before,
		&:after
			pseudo()
			transition all .17s ease-in-out
			border-radius 50%
			position absolute
			position-center()
		&:before
			width 40px
			height 40px
			border 4px solid #3341EB
		&:after
			width 20px
			height 20px
			background-color #3341EB
			box-shadow 0px 2px 5px 1px rgba(51, 65, 235, 0.55)
			
	&__info
		margin-bottom 20px
		display flex
		align-items center
		justify-content space-between
		flex-wrap nowrap
		
	&__date
		color #3341EB
		transition all .17s ease-in-out
		font 17px $Bold
		line-height 20px
		
	&__status
		flex none
		flex-col-center()
		transition all .17s ease-in-out
		text-align center
		box-shadow 0px 7px 10px rgba(191, 237, 206, 0.4)
		background-color #BFEDCE
		border-radius 7px
		color $active-color
		font 16px $Bold
		width 100%
		height 35px
		max-width 170px

			
		
.roadmap-figures
	position absolute
	bottom -430px
	left 0
	width 100%
	height 100%
	background url('../img/backgrounds/roadmap-bg.svg') center top  no-repeat
	mix-blend-mode color-dodge
	

	
.roadmap-inner
	background url('../img/backgrounds/roadmap-bottom-bg.png') center bottom -100px no-repeat
	height 100%
	
	
.roadmap
	padding-bottom 180px
	position relative
	&-wrapper
		position relative
	&-indicator
		position absolute
		width 4px
		background-color  #CDD1F7
		position absolute
		horisontal-center()
		top 60px
		bottom 437px

		overflow hidden
		&__line
			display block
			position absolute
			top 0
			left 0
			width 100%
			height 0
			background-color #3341EB
	

.roadmap-step__content-wrapper
	width calc(50% + 2px)
	position relative
	//overflow hidden
	padding-right 16px
	
.roadmap-step
	&__progress
		width 4px
		background-color  #CDD1F7
		position absolute
		overflow hidden
		top 57px
		bottom 39px
		right 0
		span
			display block
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			transition height .17s ease-in-out
			background-color #3341EB
			z-index 1

.blockchain-wrapper
	position relative
	padding-bottom 100px
	.comet
		&-tale
			display none
		&-1
			bottom -1100px
			right 200px	
		&-2
			bottom -570px
			left 200px	

.blockchain-block
	margin-bottom 110px
	&:last-child
		margin-bottom 0
		
.blockchain
	&-img
		img
			display block
			margin 0 auto
			position relative
		&-skeleton
			img
				
				transform translateX(60px)
				width 558px
				
		&-cactus
			img
				width 462px
				transform translateX(120px)
	
	&-items
		display flex
		justify-content center
		margin-left -40px
		margin-right -40px
		position relative
		z-index 1
		margin-top -90px
		
	&-item
		height 100%
		background rgba(255, 255, 255, 0.2)
		background linear-gradient(97.97deg, rgba(255, 255, 255, 0.09) 1.62%, rgba(255, 255, 255, 0.072) 100%)
		border 1px solid #8F00FF
		box-sizing border-box
		box-shadow 0px 24px 59px rgba(3, 0, 162, 0.14), inset 1px 1px 0px rgba(255, 255, 255, 0.14), inset -1px -1px 0px rgba(0, 0, 0, 0.07)
		backdrop-filter blur(30px)
		border-radius 22px
		padding 100px 30px 30px
		display flex
		flex-direction column
		&__ic
			display inline-block
			position absolute
			width 93px
			height 93px
			background-color $accent-color
			border-radius 20px
			box-shadow 0px 24px 54px rgba(241, 184, 35, 0.35)
			background-size 0
			top -46.5px
			&-blue
				background-color $alternate-color
			span
				display inline-block
				position absolute
				position-center()
				width 75px
				height 75px
				background-color $basic-white-color
				background-position 50%
				background-size 43px
				background-repeat no-repeat
				background-image inherit
				border-radius 11px
				box-shadow 0px 3px 3px rgba(0, 0, 0, 0.11)
		
		&__text
			background-color $basic-white-color
			border-radius 15px
			padding 20px
			font 16px $SemiBold
			color $lighter-text-color
			flex 1
		
		&__wrapper
			padding-left 40px
			padding-right 40px
			width 100%
			max-width 485px
		
.wax-blockchain
	&-items
		position relative
		margin-top -140px
		margin-left -20px
		margin-right -20px
		display flex
		align-items center
		justify-content space-between
	&-item
		background-color $basic-white-color
		box-shadow 0px 24px 59px rgba(3, 0, 162, 0.14), inset 1px 1px 0px rgba(255, 255, 255, 0.14), inset -1px -1px 0px rgba(0, 0, 0, 0.07)
		border-radius 22px
		padding 30px
		min-height 255px
		display flex
		flex-direction column
		&__text
			flex 1
			background-color  #F3EAFF
			border-radius 15px
			padding 45px 15px
			text-align center
			display flex
			align-items center
			justify-content center
			flex-direction column
			font 16px $SemiBold
			line-height 20px
			color #8A6BB0
		&__wrapper
			padding-left 20px
			padding-right 20px
			width 33.33333%
	

.shine-decor
	position absolute
	z-index -1
	background-repeat no-repeat
	background-size contain
	background-position 50%
	pointer-events none
	background-image url('../img/decor/shines/shine-blue.svg')
	width 1786px
	height 1528px
	
	&-purple
		background-image url('../img/decor/shines/shine-purple.svg')
		top 0
		left 0



.roadmap-wrapper
	.shine-decor
		bottom -300px
		right -700px
		transform rotate(-73.12deg)
		
		

.blockchain-wrapper
	.shine-decor
		&-top
			top -700px
			left -900px
			transform rotate(17.64deg)
		&-bottom
			bottom -800px
			left 170px
			transform rotate(39deg)
		
.character-3d
	.shine-decor
		left -900px
		top -300px
		z-index -1
		transform rotate(17.64deg)